<h1>Main page</h1>

<!-- <%= form_for(Hand.new, :remote => true) do |f|%>
  <%= f.label :message %>
  <%= f.text_field :message %>
  <%= f.submit %>
<% end %> -->


<form action= "/hands" class="new_hand" id="new_hand">
  <%= token_tag %>
  <input type="text" name="hand[message]" placeholder="Headline....">
  <input type="submit" value="Search">
</form>

<ul>
<% @hands.each do |hand| %>

  <li>
    <%= hand.title %>
  </li>

<% end %>
</ul>

<script type="text/javascript">

$(document).ready(function(){

  $( "#new_hand" ).submit(function( event ) {
    event.preventDefault();

  // Stop form from submitting normally
  event.preventDefault();

  // Get some values from elements on the page:

  headline = $( "#new_hand" ).find( "input[name='hand[title]']" ).val();
  token = $( "#new_hand" ).find( "input[name='authenticity_token']" ).val();
  console.log(headline);

  // Send the data using post
    $.ajax({
      method: "POST",
      url: "/hands",
      data: { hand: {title: headline}, authenticity_token: token },

    });


  });

})

</script>
