<h1>Main page</h1>
<div class="container">


  <div class="row">
    <div class="two-thirds column">

      <%= form_tag('/session_log_out', method: :delete) do %>
        <%= submit_tag "Log-Out" %>
      <% end %>

      <form action= "/hands" class="new_hand" id="new_hand">
        <%= token_tag %>
        <div class="row">
        <div class="u-full-width">
        <%= file_field_tag :image%><br>
          <label for="headline">Headline</label>
          <input id="headline" type="text" name="hand[title]" placeholder="Headline....">
        </div>
        <div class="u-full-width">
          <label for="actOfKindness">Describe the kind act</label>
          <input id="actOfKindness" type="text" name="hand[message]" placeholder="Act of Kindness....">
        </div>
        </div>
        <input type="submit" value="Share the Love!">
      </form>

      <h3> Hot </h3>
      <ul>
      <% @hot.each do |hand| %>
        <li>
          <%= hand.title %> : <%= hand.message%>
          <%=link_to "upvote", like_hand_path(hand), method: :put %>
          <%= hand.score %>
        </li>

      <% end %>
      </ul>


      <h3> New </h3>
      <ul>
      <% @new.each do |hand| %>

        <li>
          <%= hand.title %> : <%= hand.message%>
        </li>

      <% end %>
      </ul>
      </div>

      <div class="one-third column">
        <div id="map" style="width: 400px; height: 400px;"></div>
      </div>

  </div>

</div>
