<h1>Main page</h1>


<form action= "/hands" class="new_hand" id="new_hand">
  <%= token_tag %>
  <input type="text" name="hand[title]" placeholder="Headline....">
  <input type="text" name="hand[message]" placeholder="Act of Kindness....">
  <input type="submit" value="Share the Love!">
</form>

<h3> Hot </h3>
<ul>
<% @hot.each do |hand| %>
  <li>
    <%= hand.title %> : <%= hand.message%>
    <%=link_to "upvote", like_hand_path(hand), method: :put %>
    <%= hand.score %>
  </li>

<% end %>
</ul>




<h3> New </h3>
<ul>
<% @new.each do |hand| %>

  <li>
    <%= hand.title %> : <%= hand.message%>
  </li>

<% end %>
</ul>
