<h1>Main page</h1>

<div>
  <h3 id="greetings"> <%= @user.username %> </h3>
</div>

<div class="container">

  <div class="row">
    <div class="two-thirds column">

      <%= form_tag('/session_log_out', method: :delete) do %>
        <%= submit_tag "Log-Out" %>
      <% end %>

      <form action= "/hands" enctype="multipart/form-data" class="new_hand" id="new_hand">
        <%= token_tag %>
        <div class="row">
        <div class="u-full-width">
        <!-- <%= file_field_tag :image%><br> -->
          <input id="file" type="file" name="hand[image]">
          <label for="headline">Headline</label>
          <input id="headline" type="text" name="hand[title]" placeholder="Headline....">
        </div>
        <div class="u-full-width">
          <label for="actOfKindness">Describe the kind act</label>
          <input id="actOfKindness" type="text" name="hand[message]" placeholder="Act of Kindness....">
        </div>
        </div>
        <input type="submit" value="Share the Love!">
      </form>

      <h3> Hot </h3>
      <ul>
      <% @hot.each do |hand| %>
        <li>
          <%= hand.title %> : <%= hand.message%>
          <%=link_to "upvote", like_hand_path(hand), method: :put %>
          <%= hand.score %>
        </li>

      <% end %>
      </ul>


      <h3> New </h3>
      <ul>
      <% @new.each do |hand| %>

        <li>

          <%= hand.title %> : <%= hand.message%>
        </li>

      <% end %>
      </ul>
      </div>

      <div class="one-third column">
        <div id="map" style="width: 400px; height: 400px;"></div>
      </div>

  </div>

</div>

<script>
//DECLARES TIME/DATE VARS
var today = new Date();
var hourNow = today.getHours();
var greeting;
var display = $('#greetings')

//DISPLAYS TIME-BASED GREETING TO CURRENT_USER
function heyYall(){
  if (hourNow > 18){
    greeting = 'Good Evening, ';
  } else if (hourNow > 12){
    greeting = 'Good Afternoon, ';
  } else if (hourNow > 0){
    greeting = 'Good Morning, ';
  } else {
    greeting = 'Welcome, ';
  }
  display.prepend(greeting);
}

heyYall()
</script>
