  <h1>Main page</h1>

  <%= form_tag('/session_log_out', method: :delete) do %>
    <%= submit_tag "Log-Out" %>
  <% end %>

  <div id="map" style="width: 500px; height: 400px;"></div>

  <form action= "/hands" class="new_hand" id="new_hand">
    <%= token_tag %>
    <div class="row">
    <div class="u-full-width">
    <%= file_field_tag :image%><br>
      <label for="headline">Headline</label>
      <input id="headline" type="text" name="hand[title]" placeholder="Headline....">
    </div>
    <div class="u-full-width">
      <label for="actOfKindness">Describe the kind act</label>
      <input id="actOfKindness" type="text" name="hand[message]" placeholder="Act of Kindness....">
    </div>
    </div>
    <input type="submit" value="Share the Love!">
  </form>

  <h3> Hot </h3>
  <ul>
  <% @hot.each do |hand| %>
    <li>
      <%= hand.title %> : <%= hand.message%>
      <%=link_to "upvote", like_hand_path(hand), method: :put %>
      <%= hand.score %>
    </li>

  <% end %>
  </ul>


  <h3> New </h3>
  <ul>
  <% @new.each do |hand| %>

    <li>
      <%= hand.title %> : <%= hand.message%>
    </li>

  <% end %>
  </ul>

  <script>

  var map;

  function initializeMap(){
    var defaultCenter = new google.maps.LatLng(41.893974, -87.627945);
    var defaultOptions = {
      zoom: 14,
      center: defaultCenter,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById('map'), defaultOptions);

    $.ajax({
        method: 'get',
        url: '/api',
        dataType: 'json',
        })
        .done(function(data){
          console.log(data)

          for (var i = 0; i < data.length; i++) {
            marker = new google.maps.Marker({
              position: new google.maps.LatLng(data[i].lat, data[i].long),
              map: map
            });

          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              infowindow.setContent(locations[i][0]);
              infowindow.open(map, marker);
            }
          })(marker, i));
        };
      });
  }

  google.maps.event.addDomListener(window, 'load', initializeMap);

  </script>
