<h1>Main page</h1>

<%= form_for(Hand.new, :remote => true) do |f|%>
  <%= f.label :message %>
  <%= f.text_field :message %>
  <%= f.submit %>
<% end %>

<ul>
<% @hands.each do |hand| %>

  <li>
    <%= hand.message %>
  </li>

<% end %>
</ul>
