<body id="sign-inpage">
  <div class="container">
    <div class="content">
      <div class="form-section">

      <h1>Sign In</h1>

      <%= form_tag('/session_log_in', method: :post) do %>
        <%= label_tag :username %>
        <%= text_field_tag :username %>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        </br>
        <%= submit_tag "Sign-In" %>
      <% end %>
      <p class="linktosignup">Sign Up Here</p>
    </div>

    </div>

    <div class="sign-upform">
      <%= form_for @user do |f|%>
      <div class="upform">
        <%= f.label :username%>
        <%= f.text_field :username, :required => true%>
      </div>
      <div class="upform">
        <%= f.label :password%>
        <%= f.password_field :password, :required => true%>
        <%= f.submit %>
      </div>
      <%end%>
    </div>

  </div>

  <script type="text/javascript">

   $('#password').on('keyup', function(){
     var field = $(this);
     if (field.val().length < 7){
       $(this).css({backgroundColor: 'red'});
     } else {
       $(this).css({backgroundColor: 'green'});
     }
   });

   $('#user_password').on('keyup', function(){
     var field = $(this);
     if (field.val().length < 7){
       $(this).css({backgroundColor: 'red'});
     } else {
       $(this).css({backgroundColor: 'green'});
     }
   });

  </script>
</body>
